.classpath
.idea
.idea/*
.project
.settings
.DS_STORE
.cache-main
.cache-tests
.sass-cache/
.metadata/
.cache-main
.cache-tests
Thumbs.db
target/
Servers/
node_modules
**/source/**/build/
**/modules/**/exports
.env
venv/
__pycache__
